@font-face {
    font-family: PTSbold;
    src: url(../fonts/PT_Sans/PTSans-Bold.ttf);
}
@font-face {
    font-family: PTSbolditalic;
    src: url(../fonts/PT_Sans/PTSans-BoldItalic.ttf);
}
@font-face {
    font-family: PTSitalic;
    src: url(../fonts/PT_Sans/PTSans-Italic.ttf);
}
@font-face {
    font-family: PTSregular;
    src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}